.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid #e0e0e0;
}

.header__price {
    font-size: 30px;
    font-weight: 600;
}

.header-left {
    display: flex;
    flex-direction: column;
}

.header-right {
    text-align: right;
}

.price-change {
    color: green;
}

.percent-change {
    color: green;
}