/* ! header */
@import url('./components/header/header.css');

/* ! tabs */
@import url('./components/tabs/tabs.css');

/* ! chart */
@import url('components/chart/chart.css');

/* ! history table */
@import url('./components/historyTable/historyTable.css');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}